:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f0f2f5; /* Light gray background like Antd Pro */
  color: #333;
}

body {
  margin: 0;
  min-height: 100vh;
}
